.idea
build
db
ivy
out
src-generated-metamodel
startup/db
startup/log
startup/restore
startup/cache
startup/application-configuration.xml
startup/configuration.xml
lib/swt*-debug.jar
*.iml
*.log
FindBugsAnalysis.html
MCS.lnk
*.sh