.idea
build
db
ivy
out
source/java-generated-metamodel
startup/db
startup/log
startup/restore
startup/cache
startup/application-configuration.xml
startup/configuration.xml
lib/swt*-debug.jar
FindBugsAnalysis.html
MCS.lnk
*.iml
*.log
*.sh