.idea
build/compile
build/install
build/ivy
build/lib
build/output
db
ivy
out
source/java-generated-metamodel
startup/db
startup/log
startup/restore
startup/cache
startup/application-configuration.xml
startup/configuration.xml
lib/swt*-debug.jar
MCS.lnk
*.iml
*.log
*.sh