<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <context:component-scan base-package="net.milanaleksic.mcs.infrastructure.persistence.jpa"/>

    <context:property-placeholder location="classpath:datasource.properties" ignore-unresolvable="true"/>

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="user" value="${javax.persistence.jdbc.user}"/>
        <property name="password" value="${javax.persistence.jdbc.password}"/>
        <property name="driverClass" value="${javax.persistence.jdbc.driver}"/>
        <property name="jdbcUrl" value="${javax.persistence.jdbc.url}"/>
        <property name="initialPoolSize" value="2"/>
        <property name="maxPoolSize" value="5"/>
        <property name="minPoolSize" value="2"/>
        <property name="acquireIncrement" value="1"/>
        <property name="acquireRetryAttempts" value="0"/>
        <property name="maxStatements" value="50"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceUnitName" value="MovieCatalogSystemDB"/>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>
                <prop key="hibernate.cache.region.factory_class">${hibernate.cache.region.factory_class}</prop>
                <prop key="hibernate.cache.provider_configuration_file_resource_path">
                    ${hibernate.cache.provider_configuration_file_resource_path}
                </prop>
                <prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.use_sql_comments">${hibernate.use_sql_comments}</prop>
            </props>
        </property>
    </bean>

    <!--suppress SpringModelInspection -->
    <bean id="sessionFactory" factory-bean="entityManagerFactory" factory-method="getSessionFactory"/>

    <bean id="abstractRestorePointService" abstract="true"
          class="net.milanaleksic.mcs.infrastructure.restore.AbstractRestorePointService">
        <property name="useDB2StyleStringInScripts" value="${mcs.connection.isdb2}"/>
        <property name="dbVersion" value="${mcs.db.version}"/>
    </bean>

    <bean id="restorePointCreator" class="net.milanaleksic.mcs.infrastructure.restore.RestorePointCreator"
          parent="abstractRestorePointService">
        <property name="restoreSources">
            <list>
                <!-- order matters -->
                <bean class="net.milanaleksic.mcs.infrastructure.restore.SelectAllFromTableRestoreSource">
                    <constructor-arg index="0" value="DB2ADMIN.TIPMEDIJA"/>
                    <constructor-arg index="1" value="IdTip"/>
                </bean>
                <bean class="net.milanaleksic.mcs.infrastructure.restore.SelectAllFromTableRestoreSource">
                    <constructor-arg index="0" value="DB2ADMIN.POZICIJA"/>
                    <constructor-arg index="1" value="IdPozicija"/>
                </bean>
                <bean class="net.milanaleksic.mcs.infrastructure.restore.SelectAllFromTableRestoreSource">
                    <constructor-arg index="0" value="DB2ADMIN.ZANR"/>
                    <constructor-arg index="1" value="IdZanr"/>
                </bean>
                <bean class="net.milanaleksic.mcs.infrastructure.restore.SelectAllFromTableRestoreSource">
                    <constructor-arg index="0" value="DB2ADMIN.MEDIJ"/>
                    <constructor-arg index="1" value="IdMedij"/>
                </bean>
                <bean class="net.milanaleksic.mcs.infrastructure.restore.SelectAllFromTableRestoreSource">
                    <constructor-arg index="0" value="DB2ADMIN.FILM"/>
                    <constructor-arg index="1" value="IdFilm"/>
                </bean>
                <bean class="net.milanaleksic.mcs.infrastructure.restore.SelectAllFromTableRestoreSource">
                    <constructor-arg index="0" value="DB2ADMIN.ZAUZIMA"/>
                </bean>
                <bean class="net.milanaleksic.mcs.infrastructure.restore.SelectAllFromTableRestoreSource">
                    <constructor-arg index="0" value="DB2ADMIN.TAG"/>
                    <constructor-arg index="1" value="IdTag"/>
                </bean>
                <bean class="net.milanaleksic.mcs.infrastructure.restore.SelectAllFromTableRestoreSource">
                    <constructor-arg index="0" value="DB2ADMIN.HASTAG"/>
                </bean>
                <bean class="net.milanaleksic.mcs.infrastructure.restore.SelectAllFromTableRestoreSource">
                    <constructor-arg index="0" value="DB2ADMIN.MODIFICATION"/>
                    <constructor-arg index="1" value="IdModification"/>
                </bean>
                <bean class="net.milanaleksic.mcs.infrastructure.restore.FreeDataScriptRestoreSource">
                    <constructor-arg index="0" value="SELECT * FROM DB2ADMIN.PARAM WHERE NAME &lt;&gt; 'VERSION'"/>
                    <constructor-arg index="1" value="DB2ADMIN.PARAM"/>
                    <constructor-arg index="2" value="IdParam"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="restorePointRestorer" class="net.milanaleksic.mcs.infrastructure.restore.RestorePointRestorer"
          parent="abstractRestorePointService">
        <property name="patternForSqlAlters"
                  value="/net/milanaleksic/mcs/infrastructure/restore/alter/impl/alter_script_%d.sql"/>
        <property name="patternForCodeAlters"
                  value="net.milanaleksic.mcs.infrastructure.restore.alter.impl.AlterScript%d"/>
        <property name="versionScript" value="SELECT Value FROM DB2ADMIN.Param WHERE Name='VERSION'"/>
        <property name="restoreContent" value="${man.db.restoreContent}"/>
    </bean>

    <bean id="restoreManager" class="net.milanaleksic.mcs.application.restore.RestoreManager"/>

</beans>
