<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="transformer" class="net.milanaleksic.mcs.infrastructure.gui.transformer.Transformer">
    </bean>

    <bean id="converterFactory" class="net.milanaleksic.mcs.infrastructure.gui.transformer.ConverterFactory">
        <property name="registeredConverters">
            <map>
                <entry key="#{ T(java.lang.Object) }">
                    <bean class="net.milanaleksic.mcs.infrastructure.gui.transformer.ObjectConverter">
                        <property name="registeredBuilders">
                            <map>
                                <entry key="gridData">
                                    <bean class="net.milanaleksic.mcs.infrastructure.gui.transformer.builders.GridDataBuilder"/>
                                </entry>
                            </map>
                        </property>
                    </bean>
                </entry>
                <entry key="#{ T(java.lang.String) }">
                    <bean class="net.milanaleksic.mcs.infrastructure.gui.transformer.typed.StringConverter"/>
                </entry>
                <entry key="#{ T(boolean) }">
                    <bean class="net.milanaleksic.mcs.infrastructure.gui.transformer.typed.BooleanConverter"/>
                </entry>
                <entry key="#{ T(int) }">
                    <bean class="net.milanaleksic.mcs.infrastructure.gui.transformer.typed.IntegerConverter"/>
                </entry>
                <entry key="#{ T(org.eclipse.swt.graphics.Point) }">
                    <bean class="net.milanaleksic.mcs.infrastructure.gui.transformer.typed.PointConverter"/>
                </entry>
                <entry key="#{ T(org.eclipse.swt.graphics.Color) }">
                    <bean class="net.milanaleksic.mcs.infrastructure.gui.transformer.typed.ColorConverter"/>
                </entry>
                <entry key="#{ T(org.eclipse.swt.graphics.Font) }">
                    <bean class="net.milanaleksic.mcs.infrastructure.gui.transformer.typed.FontConverter"/>
                </entry>
                <entry key="#{ T(org.eclipse.swt.graphics.Image) }">
                    <bean class="net.milanaleksic.mcs.infrastructure.gui.transformer.typed.ImageConverter"/>
                </entry>
            </map>
        </property>
    </bean>

</beans>
