<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="resourceBundleProvider"
          class="net.milanaleksic.mcs.infrastructure.guitransformer.providers.ResourceBundleProvider" />

    <bean id="objectProvider"
          class="net.milanaleksic.mcs.infrastructure.guitransformer.providers.ObjectProvider" />

    <bean id="imagesProvider"
          class="net.milanaleksic.mcs.infrastructure.guitransformer.providers.ImageProvider" />

    <bean id="objectConverter" class="net.milanaleksic.guitransformer.ObjectConverter">
        <property name="registeredBuilders">
            <map>
                <entry key="gridData">
                    <bean class="net.milanaleksic.guitransformer.builders.GridDataBuilder"/>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="transformer" class="net.milanaleksic.guitransformer.Transformer">
        <property name="methodEventListenerExceptionHandler">
            <bean class="net.milanaleksic.mcs.application.gui.helper.GuiExceptionHandler" />
        </property>
    </bean>

    <bean id="converterFactory" class="net.milanaleksic.guitransformer.ConverterFactory">
        <property name="registeredConverters">
            <map>
                <entry key="#{ T(java.lang.Object) }">
                    <ref bean="objectConverter" />
                </entry>
                <entry key="#{ T(java.lang.String) }">
                    <bean class="net.milanaleksic.guitransformer.typed.StringConverter"/>
                </entry>
                <entry key="#{ T(boolean) }">
                    <bean class="net.milanaleksic.guitransformer.typed.BooleanConverter"/>
                </entry>
                <entry key="#{ T(int) }">
                    <bean class="net.milanaleksic.guitransformer.typed.IntegerConverter"/>
                </entry>
                <entry key="#{ T(org.eclipse.swt.graphics.Point) }">
                    <bean class="net.milanaleksic.guitransformer.typed.PointConverter"/>
                </entry>
                <entry key="#{ T(org.eclipse.swt.graphics.Color) }">
                    <bean class="net.milanaleksic.guitransformer.typed.ColorConverter"/>
                </entry>
                <entry key="#{ T(org.eclipse.swt.graphics.Font) }">
                    <bean class="net.milanaleksic.guitransformer.typed.FontConverter"/>
                </entry>
                <entry key="#{ T(org.eclipse.swt.graphics.Image) }">
                    <bean class="net.milanaleksic.guitransformer.typed.ImageConverter"/>
                </entry>
            </map>
        </property>
    </bean>

</beans>
