<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config />

    <import resource="spring-beans-gui.xml" />

    <import resource="spring-beans-db.xml" />

    <import resource="spring-beans-service.xml" />

    <import resource="spring-beans-jmx.xml" />

    <import resource="spring-beans-transformer.xml" />

    <import resource="spring-beans-tenrec.xml" />

    <bean id="programArgsManager" class="net.milanaleksic.mcs.application.config.ProgramArgsService" />

    <bean id="workerManager" class="net.milanaleksic.mcs.infrastructure.worker.impl.WorkerManagerImpl" />

    <bean id="applicationConfigurationManager" class="net.milanaleksic.mcs.application.config.ApplicationConfigurationManager" />

    <bean id="userConfigurationManager" class="net.milanaleksic.mcs.application.config.UserConfigurationManager" />

	<bean id="applicationManager" class="net.milanaleksic.mcs.application.ApplicationManager">
        <property name="lifeCycleListeners">
            <set>
                <!--<ref bean="splashScreenManager" />--><!--Splash Screen has been removed as of 26th April, 2012-->
                <ref bean="applicationConfigurationManager" />
                <ref bean="userConfigurationManager" />
                <bean class="net.milanaleksic.mcs.application.util.StatisticsManager" />
                <ref bean="httpClientFactoryService" />
                <ref bean="thumbnailManager" />
                <ref bean="restoreManager" />
                <ref bean="workerManager" />
                <ref bean="offerMovieListForFindMovieDialogForm" />
                <ref bean="offerMovieListForNewOrEditForm" />
                <ref bean="tmdbService" />
                <ref bean="converterFactory" />
                <ref bean="movieDetailsForm" />
            </set>
        </property>
	</bean>

</beans>