body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
td { padding: 5px; }
.r1 { background-color:#E5EFC4; cursor:pointer; }
.r2 { background-color:#FFFFFF; cursor:pointer; }